<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Products</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h3>Product list</h3>
    <p><a href="cart.html">Go to Cart</a></p>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Product title</td>
            <td>Price</td>
            <td>Please buy</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productList.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>
            <button class="btn btn-danger" ng-click="changePrice(p.id, -5)">-</button>
            {{p.price}}
            <button class="btn btn-primary" ng-click="changePrice(p.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
                <button class="btn btn-info" ng-click="addToCart(p.title)">Add to Cart</button>
            </td>
        </tbody>
    </table>

    <p></p>
    <h3>Добавить продукт через JSON</h3>
    <form novalidate ng-submit="createProductJson()">
        <input class="form-control" type="text" placeholder="Title" ng-model="newProductJson.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Price" ng-model="newProductJson.price">
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить JSON продукта</button>
        <p></p>
    </form>
    <h3>Filter</h3>
    <form novalidate ng-submit="loadProductsWithFilter()">
        <input class="form-control" id="min" type="number" placeholder="Min price">
        <p></p>
        <input class="form-control" id="max" type="number" placeholder="Max price">
        <p></p>
        <button type="submit" id="filterButton" class="btn btn-primary">Apply filter</button>
        <p></p>
    </form>
</div>
</body>
</html>